#level-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#level-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.peas2 {
  grid-column: 1/3;
}

#level-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.tomatoes3 {
  grid-row: 3;
  grid-column: 1/3;
}

.lettuce3 {
  grid-row: 3;
}

.carrots3 {
  grid-row: 4;
  grid-column: 1/4;
}

.peas3 {
  grid-row: 1;
  grid-column: 1/2;
}

.onions3 {
  grid-row: 1;
  grid-column: -3 / -1;
}

#level-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.carrots4 {
  grid-row: 1/4;
  grid-column: 4;
}

.onions4 {
  grid-row: 1/3;
  grid-column: 3;
}

.peas4 {
  grid-column: 1/3;
}

#level-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.carrots5 {
  grid-row: 1/30;
  grid-column: 1;
}

.tomatoes5 {
  grid-column: 2/5;
}

.onions5 {
  grid-row: 1/29;
  grid-column: 3;
}

.peas5 {
  grid-row: 28;
  grid-column: 4/6;
}

.lettuce5 {
  grid-row: 27;
  grid-column: 5;
}
